html {
  font-family: sans-serif;
}

.card {
  color: #333;
  cursor: pointer;
  display: inline-block;
  border-radius: 8px;
  border: 3px solid #333;
  text-decoration: none;
}

.card:hover {
  background-color: #e6e6e6;
}

.card:hover .btn {
  background-color: #333;
  color: #fff;
}
